[submodule "BookStore-Frontend"]
	path = BookStore-Frontend
	url = git@github.com:kiwi142857/SE2321-SE3353-BookStore-Frontend.git
	branch = master

[submodule "BookStore-Backend"]
	path = BookStore-Backend
	url = git@github.com:kiwi142857/SE2321-SE3353-BookStore-Backend.git
	branch = master
